/***Main section of the HTML file***/

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/****Image sizing***/

img {
    max-width: 20%;
}

#wrapper {
    max-width: 500px;
    margin: auto;
    padding: 3%;
}

a {
    text-decoration: none;
}

