/*****Main body section of the HTML file*****/

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/****Image sizing and wrapping*****/

img {
    max-width: 30%;
}

#wrapper {
    max-width: 900px;
    margin: auto;
    padding: 3%;
}

.myimage {
    float: left;
    margin: 10px;
}

a {
    text-decoration: none;
}

/***Changing link color****/

a {
    color: rgb(68, 167, 170);
}


